# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
*.egg-info/

# Django-related
db.sqlite3
*.log
media/
staticfiles/

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# Environment variables
.env
